.main{
    width: 100vw;
    height: 100vh;
}

.signup-page{
    width: 60vw;
    height: 70vh;
}

.image{
    background: url('../friends-making-surprise-cake-canles-600nw-1290973357.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.left{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}