/* ----------------------------------------------Product.js CSS-------------------------------------------------- */
#buttons {
  width: 90%;
  height: 40px;
  top: 0;
  margin-top: 220px;
  justify-content: space-around;
  align-items: center;
  display: none !important;
  transition: all ease-in-out 1s;
  transform: scale(0.95);
}

#buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

#buttons:hover {
  display: block !important;
}

#product-box:hover #buttons {
  display: flex !important;
  cursor: pointer;
}


/* --------------------------------------------------END---------------------------------------------------- */

/* --------------------------------------------------ViewMore CSS---------------------------------------------- */

#view-left {
  display: grid;
  place-items: center;
  width: 20%;
  height: 80vh;
  border: 1px solid blue;
}

#view-left div {
  width: 180px;
  height: 140px;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}

#view-mid {
  width: 450px !important;
  height: 80vh;
}

#view-right {
  width: 40%;
  height: 80vh;
}

#qty {
  width: 50px;
}

#related-products {
  white-space: nowrap;
  display: flex;
  overflow-y: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#product-box {
  height: 96px;
  width: 250px;
  box-shadow: 1px 1px 1px 0px gray;
  height: auto;
}

/* --------------------------------------------------END------------------------------------------------- */
/* ------------------------------------------------Cart CSS--------------------------------------------- */

.icon div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgb(194, 187, 187);
}

/* --------------------------------------------------END------------------------------------------------- */

/* ---------------------------------------------------Wishlist Section---------------------------------------- */


#wishlist-section {
  width: 100%;
  height: auto;
  background-color: #F7FAFC;
}

#wishlist-component {
  width: 24%;
  height: auto;
  padding: 10px;
}

/* ----------------------------------------------------------Checkout Page ---------------------------------- */

