
/* ----------------------------------------------Product.js CSS-------------------------------------------------- */
#buttons{
  width: 90%;
  height: 40px;
  top: 0;
  margin-top: 220px;
  justify-content: space-around;
  align-items: center;
  display: none !important;
  transition: all ease-in-out 1s;
  transform: scale(0.95);
}
#buttons div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
#buttons:hover{
  display: block !important;
}
#product-box:hover #buttons{
  display: flex !important;
  cursor: pointer;
}
#product-box{
  width: 250px;
  box-shadow: 1px 1px 1px 0px gray;
  height: auto;
}

/* --------------------------------------------------END---------------------------------------------------- */

/* --------------------------------------------------ViewMore CSS---------------------------------------------- */

#view-left{
  width: 20%;
  height: 70vh;
  border: 1px solid blue;
}
#view-mid{

}
#view-right{

}


/* ----------------------------SignUp------------------------- */

