.react-icon {
  display: inline-block !important; 
}

/* ----------------------------------------------Product.js CSS-------------------------------------------------- */
#buttons {
  width: 90%;
  height: 40px;
  top: 70%;
  left: 5%;
  justify-content: space-around;
  align-items: center;
  display: none !important;
  transition: all ease-in-out 1s;
  transform: scale(0.95);
}

#buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

#buttons:hover {
  display: block !important;
}

#product-box:hover #buttons {
  display: flex !important;
  cursor: pointer;
}

#product-box {
  width: 250px;
  box-shadow: 0px 0px 1px 1px gainsboro;
  height: auto;
}

/* --------------------------------------------------END---------------------------------------------------- */

/* --------------------------------------------------ViewMore CSS---------------------------------------------- */

#view-left {
  display: grid;
  place-items: center;
  width: 100px;
  height: 80vh;
  border: 1px solid blue;
}

#view-left div {
  width: 80px;
  height: 80px;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}

#view-mid {
  width: 450px !important;
  height: 80vh;
}

#view-right {
  width: 40%;
  height: 80vh;
}

#qty {
  width: 50px;
}

#related-products {
  white-space: nowrap;
  display: flex;
  overflow-y: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#view-more-section{
  height: 100vh !important;
}

/* --------------------------------------------------END------------------------------------------------- */
/* ------------------------------------------------Cart CSS--------------------------------------------- */

#main-cart {
  width: 100%;
  height: 90vh;
  background-color: #F7FAFC;
  display: flex;
  margin: auto;
}

#cart-left {
  width: 65% !important;
  height: inherit;
  margin-left: auto;
}

#cart-right {
  width: 25%;
  background-color: #F7FAFC;
  float: left;
  height: 400px;
  display: grid;
  place-items: center;
}

#cart-right-child1 {
  width: 80%;
  border-radius: 10px;
  height: 300px;
  margin: auto;
  background-color: white;
}


#product-box {
  width: 300px;
  box-shadow: 1px 1px 1px 0px gray;
  height: auto;
  border-radius: 15px !important;
  margin: 12px;
  padding: 0 !important;
}

.productlist{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px;
}

#gift{
  border-radius: 15px 15px 0px 0px;
}

/* --------------------------------------------------END------------------------------------------------- */
/* ------------------------------------------------Cart CSS--------------------------------------------- */

.icon div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgb(194, 187, 187);
}

/* --------------------------------------------------END------------------------------------------------- */

/* ---------------------------------------------------Wishlist Section---------------------------------------- */


#wishlist-section {
  width: 100%;
  height: auto;
  background-color: #F7FAFC;
}

#wishlist-component {
  width: 25%;
  width: 24%;
  height: auto;
  padding: 10px;
}

/* ----------------------------------------------------------Checkout Page ---------------------------------- */


#p-image{
  width: 100px;
  height: 120px;
}

#view-image{
  cursor: pointer;
  height: 250px;
}
#cart-img{
  width: 150px;
  height: 150px;
}


/* -------------------------------user profile ---------- */

@media only screen and (max-width: 600px){
  #checkout-left{
        margin-top: 40px;
  }
  #checkout-left{
      height:3000px;

  }
  .checkout-right{
      height: 580px !important;
      border: 1px solid black;
  }
  .text-mdia{
      /* width: 500px; */
      margin-left: -1px !important;
  }
  
}


/* ----------------------------- */
